body {
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #F8F4F9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #BEA7E5;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.btn-primary {
    background-color: #6B4B3E;
    border-color: #F4A261;
}

.btn-primary:hover {
    background-color: #F4A261;
    border-color: #F4A261;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #F4A261;
    border-color: #F4A261;
    opacity: 0.5;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: #F4A261;
    border-color: #F4A261;
}
